@*
    App.razor
*@
<Router AppAssembly="@_layout.Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@_layout" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@_layout">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>

@code {
    private Type _layout = typeof(_Layout);
}